# Sungwon Lee
## 017473950
### Bonus Assignment 1

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("fashion_mnist1.csv")
df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,0,2,...,116,30,0,0,0,0,1,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,0,0,0,0,0,0,0,0,6,...,18,0,0,0,0,0,0,0,0,0

# (2 pts) Dimension reduction using principal component analysis (PCA)

## 1.1

In [8]:
df = df/255

In [9]:
from numpy import linalg



U, S, V = linalg.svd(df)

In [11]:
U.shape, S.shape, V.shape

((10000, 10000), (785,), (785, 785))