# Sungwon Lee
## 017473950
### Bonus Assignment 1

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("fashion_mnist1.csv")
df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,0,2,...,116,30,0,0,0,0,1,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,0,0,0,0,0,0,0,0,6,...,18,0,0,0,0,0,0,0,0,0

# (2 pts) Dimension reduction using principal component analysis (PCA)

## 1.1

In [11]:
# since the data scope is 0 to 255, we perform standarization by dividing everything into 255
X = df/255
X.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0.019608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,0.027451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,0.023529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.007843,...,0.454902,0.117647,0.0,0.0,0.0,0.0,0.003922,0.0,0.0,0.0
3,0.035294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,0.023529,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.023529,...,0.070588,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [18]:
from sklearn.preprocessing import StandardScaler
import numpy as np

# Assume X is your dataset (n_samples, n_features)
X_std = StandardScaler().fit_transform(X)
X_std = pd.DataFrame(X_std)

In [20]:
X_std.mean()

0      1.776357e-18
1      1.172396e-17
2      9.947598e-18
3     -8.171241e-18
4     -7.105427e-19
           ...
780   -9.521273e-17
781    7.638334e-18
782    2.451372e-17
783   -1.172396e-17
784   -1.421085e-18
Length: 785, dtype: float64