# Assignment 2
## Sungwon Lee
### 017473950

## 1. (3 pts) Implanting K-means clustering algorithm

In [1]:
# Import only basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('cluster_data1.csv')
df.head()

    X1   X2   X3   X4
0  6.7  3.0  5.0  1.7
1  6.3  2.9  5.6  1.8
2  5.6  3.0  4.5  1.5
3  7.6  3.0  6.6  2.1
4  6.0  3.4  4.5  1.6

In [ ]:
seed = 123